apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: nginx-application
  namespace: infra-tools
spec:
  project: default
  source:
    repoURL: 'https://github.com/samatwa/goit-argo'
    path: namespaces/application
    targetRevision: HEAD
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: application
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
